<li id="<%= dom_id song %>">

  <h4 class="span5">
    <%= link_to_if song.youtube.present?, song.title, song.youtube, target: '_blank' do %>
      <%= song.title %>

    <% end %>
  </h4>

  <div class="participants span4">
    <% Play::Instruments.each do |i| %>
      <% if song.players?(i) %>
        <span class="label label-success"><a href="#" data-toggle="tooltip" data-original-title="<%= song.players(i).map(&:name).to_sentence %>"><%= i %></a></span>
      <% else %>
        <span class="label"><%= i %></span>
      <% end %>
    <% end %>
  </div>

  <div class="participate">
    <% if user_signed_in? %>
      <%= render partial: 'plays/button', locals: { song: song } %>
    <% else %>
      <%= link_to "Me apunkto!", new_user_session_path, class: "btn" %>
    <% end %>
  </div>
</li>
