<div class="song row">
  <div class="title span4">
    <%= song.title %>
  </div>

  <div class="youtube span1">
    <%= link_to_if song.youtube.present?, "Youtube", song.youtube do %>
      Youtube
    <% end %>
  </div>

  <div class="participants span5">
    <% Play::Instruments.each do |i| %>
      <% if false && song.players?(i) %>
        <span class="label label-success"><a href="#" data-toggle="tooltip" data-original-title="<%= song.players(i).map(&:name).to_sentence %>"><%= i %></a></span>
      <% else %>
        <span class="label"><%= i %></span>
      <% end %>
    <% end %>
  </div>

  <div class="participate span2">
    <% if user_signed_in? %>
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          Me apunto!
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a tabindex="-1" href="#">Voz</a></li>
          <li><a tabindex="-1" href="#">Guitarra</a></li>
          ...
        </ul>
      </div>
    <% else %>
      <%= link_to "Me apunto!", new_user_session_path, class: "btn" %>
    <% end %>
  </div>
</div>

