<header id="champi_animation" class="row">
  <div class="span12">
    <span>CHAMPI</span>
      <%= image_tag "champi.png" %>
    <span>PARTY</span>
  </div>
</header>

  <%= javascript_tag do %>

    var champi_with;
    var champi_height;
    var height_toggle = 1;

    function getRandomArbitary (min, max) {
        return Math.random() * (max - min) + min;
    }

    function random_x_position() {
      return getRandomArbitary(1, parseInt(champi_with));
    }

    function random_y_position() {
      random_height = getRandomArbitary(1, parseInt(champi_height));
      if(height_toggle == 1) {
        return random_height;
        height_toggle = 0;
      } else {
        return "-" + random_height;
        height_toggle = 1;
      }
  
    }

    function danceTheChampi() {

    random_rotation = '+=' + Math.floor(Math.random()*55);
    random_scale    = parseFloat("1." + Math.floor(Math.random()*11));
    random_skewX    = Math.floor(Math.random()*55) + 'deg';
    


    $('#champi_animation img').transition({ rotate:    random_rotation,
                                            scale:     random_scale, 
                                            skewX:     random_skewX }, 500);   
      setTimeout(function() { danceTheChampi() }, 100);
    }

    $(function() {
      champi_with   = $('#champi_animation').width();
      champi_height = $('#champi_animation').height();

      danceTheChampi();

    });
  <% end %>


<section class="songs">
  <header>
    <h2>
      listado de canciones
    </h2>
    <% if user_signed_in? %>
      <%= link_to "", "#new-song-modal", "data-toggle" => 'modal' %>
    <% else %>
      <%= link_to "", new_user_session_path %>
    <% end %>
  </header>
  <ul>
    <%= render Song.all %>
  </ul>
  <%= javascript_tag do %>
    $(function() {
      Song.index();
    });
  <% end %>
</section>

<% if user_signed_in? %>

  <div id="new-song-modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Añadir canción</h3>
    </div>
    <%= form_for Song.new do |f| %>
      <div class="modal-body">
        <%= f.label :title, "Título" %>
        <%= f.text_field :title %>

        <%= f.label :youtube, "Enlace a Youtube" %>
        <%= f.text_field :youtube %>
    </div>
      <div class="modal-footer">
        <%= f.submit 'Añadir' %>
      </div>
    <% end %>
  </div>
<% end %>
