<header class="row">
  <div class="span12">
    <h1>
      Dr.TaPI-Party!
    </h1>
  </div>
</header>

<section class="songs">
  <header>
    <h2>
      listado de canciones
    </h2>
    <% if user_signed_in? %>
      <%= link_to "", "#new-song-modal", "data-toggle" => 'modal' %>
    <% end %>
  </header>
  <ul>
    <%= render Song.all %>
  </ul>
  <%= javascript_tag do %>
    $(function() {
      Song.index();
    });
  <% end %>
</section>

<% if user_signed_in? %>

  <div id="new-song-modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Añadir canción</h3>
    </div>
    <%= form_for Song.new do |f| %>
      <div class="modal-body">
        <%= f.label :title, "Título" %>
        <%= f.text_field :title %>

        <%= f.label :youtube, "Enlace a Youtube" %>
        <%= f.text_field :youtube %>
    </div>
      <div class="modal-footer">
        <%= f.submit 'Añadir' %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= link_to "Añadir canción", new_user_session_path, class: 'btn btn-primary' %>
<% end %>
