<header class="row">
  <div class="span12">
    Dr. Tapi Party!
  </div>
</header>

<section class="songs">
  <div class="song row">
    <div class="title span4">
      Fugitivos del paraíso
    </div>

    <div class="youtube span1">
      Youtube
    </div>

    <div class="participants span5">
      <span class="label"><a href="#" data-toggle="tooltip" data-original-title="atd">Voz</a></span>
      <span class="label">Bajo</span>
      <span class="label">Batería</span>
    </div>

    <div class="participate span2">
      <% if user_signed_in? %>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            Me apunto!
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" href="#">Voz</a></li>
            <li><a tabindex="-1" href="#">Guitarra</a></li>
            ...
          </ul>
        </div>
      <% else %>
        <%= link_to "Me apunto!", new_user_session_path, class: "btn" %>
      <% end %>
    </div>
  </div>

  <%= javascript_tag do %>
    $(function() {
      $(".participants a").tooltip();
    });
  <% end %>
</section>

<% if user_signed_in? %>
  <%= link_to "Añadir canción", "#new-song-modal", class: 'btn', "data-toggle" => 'modal' %>

  <div id="new-song-modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Añadir canción</h3>
    </div>
    <%= form_for Song.new do |f| %>
      <div class="modal-body">
        <%= f.label :title, "Título" %>
        <%= f.text_field :title %>

        <%= f.label :youtube, "Enlace a Youtube" %>
        <%= f.text_field :youtube %>
    </div>
      <div class="modal-footer">
        <%= f.submit 'Añadir', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= link_to "Añadir canción", new_user_session_path, class: 'btn' %>
<% end %>
