<!DOCTYPE html>
<html>
<head>
  <title>Champi Party!</title>
  <%= favicon_link_tag "icons/favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="champi_background">
      <%= image_tag "background_body.jpg" %>
    </div>
  <div class="container">

	    <%= flashy %>

	    <%= yield %>

  </div>
  <footer>
  	<span>>>>></span> 19 Octubre 2013 - NO SE EL SITIO, NO ME LO DICEN, NI LA HORA
  </footer>
</body>
</html>