<!DOCTYPE html>
<html>
<head>
  <title>Dr.Tapi Party!</title>
  <%= favicon_link_tag "icons/favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

	    <%= flashy %>

	    <%= yield %>

  </div>
  <footer>
  	<span>>>>></span> 14 Junio 2013 - SALA STARVING - 22:00 // <span>¿dónde?</span> Fermín Caballero, 69 <span>¿transporte?</span> <span class="light">metro:</span> Peñagrande-Herrera Oria <span class="light">bus:</span> 67-133-127
  </footer>
</body>
</html>